body{
  background: #ffffff;
}

.signupinfo{
  margin-left: 30%;
  margin-right: 50%;
  margin-top: -40%;
  border-radius: 20px;
  width: 60%;
  color: black;
  height: auto;
  background: #e6e6e6;
}

.ipbox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin:5px 20px 10px 79px;
}

.reg-no{
  margin:-23px 20px 5px 31px;
}

.reg-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin:5px 20px 10px 14px;
}

.signupbtn{
  border:0;
  background: #6ede9c;
  display: inline;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.signupbtn :hover{
  background: #2ecc71;
}
