@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffe6b5;
}

.box{
  width: 280px;
  height: 32%;
  padding: 40px;
  position: absolute;
  border-radius: 30px;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff;
  background-color: #f7fcde;
  text-align: center;
}
.box h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: #ffffff;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: #6ede9c;
  display: inline;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 28px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.logo{
  margin-left: 44.5%;
  margin-top: 8px;
  width: 11.5%;
  height: 24%;
}
