body{
  background: #ffe6b5;
}

.logbtn a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logbtn a:hover {
  background-color: #ddd;
  color: black;
}

.signupinfo{
  position: absolute;
  margin-left: 34%;
  margin-right: 50%;
  margin-top: 5%;
  border-radius: 20px;
  width: 400px;
  color: black;
  height: 510px;
  background: #e6e6e6;
}

.signupbtn{
  border:0;
  background: #6ede9c;
  display: inline;
  margin: 20px auto;
  margin-left: 33%;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.signupbtn:hover{
  background: #2ecc71;
}

.ipbox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin:5px 20px 10px 79px;
}

.reg-no{
  margin:-23px 20px 5px 31px;
}

.reg-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin:5px 20px 10px 14px;
}

.first-last {
  margin:25px 20px 5px 30px;
}

.email-pass {
  margin:-23px 20px 5px 32px;
}

.email-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 20px 10px 105px;
}

.pass-box{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 20px 10px 87px;
}
.address{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 20px 10px 87px;
}
